@{
    ViewData["Title"] = "Home";
    string urlValue = Url.Action("GetProfitToday", "Home");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.ET Core</a>.</p>
</div>
