@model IEnumerable<WebSales.Services.DTOs.BestSellingProductDTO>

@{
    ViewData["Title"] = "BestSeillingProducts";
}

<h1>Best Seilling Products</h1>
<a asp-action="Index" class="btn btn-primary">Back to List</a>

<table class="table table-hover table-striped thead-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
    }
    </tbody>
</table>
