@model IEnumerable<WebSales.Services.DTOs.PurchaseByValidCustomerDTO>

@{
    ViewData["Title"] = "PurchasesMadebyValidCustomers";
}

<h1>Sales with registered customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id #
            </th>
            <th>
                Full Name
            </th>
            <th>
                Document
            </th>
            <th>
                Sale Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDocument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleNumber)
            </td>
        </tr>
}
    </tbody>
</table>
